<%- include("../../fragments/head.ejs") %>


    <div class="page-section">
        <h2 class="page-section__title">One more step</h2>
        <div class="page-section__content">
            <div class="horizontal-split" style="align-items: center;">
                <div style="max-width:550px;filter: contrast(1.8);"><img style="width: 100%;" src="/img/login.png"
                        alt="">
                </div>
                <div class="">
                    <p>Enter your new password</p>
                    <%- include("../../components/alert-banner.ejs")%>
                        <form action="/auth/forgot-password-validation" method="post">
                            <div class="group --maring-top-2">
                                <label for="password">
                                    password
                                </label>
                                <input type="password" id="password" placeholder="example@domain.com" name="password">

                            </div>
                            <div class="group --maring-top-2">
                                <label for="re-password">
                                    re-enter password
                                </label>
                                <input type="password" id="re-password" placeholder="example@domain.com"
                                    name="re-password">
                            </div>
                            <input type="hidden" name="email" value="<%= email%>">
                            <input type="hidden" name="code" value="<%= code%>">
                            <button type="submit" class="button1 --maring-top-2">Reset</button>
                            <a href="/auth/login" class="button1 --bg-orange-primary --color-white"
                                style="background-color: rgb(255, 145, 0);margin-left: 1rem;">Login</a>
                        </form>


                </div>
            </div>

        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>