<%- include("../../fragments/head.ejs") %>


    <div class="pricing page-section">
        <h2 class="page-section__title">
            <%= user.first_name %>'s Pofile
        </h2>
        <div class="horizontal-split page-section__content">
            <div class="horizontal-split__left">
                <%- include("../../components/side-menu.ejs") %>
            </div>

            <div class="horizontal-split__right">
                <div class="profile-pages">
                    <%- include("../../components/alert-banner.ejs") %>
                        <div id="information-page" class="profile-page">
                            <form action="/auth/reset-password" method="post">
                                <div class=" group">
                                    <label for="current_password">
                                        Current Password (IMPORTANT)
                                    </label>
                                    <input type="password" id="current_password" name="current_password"
                                        placeholder="************">
                                </div>
                                <div class=" group">
                                    <label for="new_password">
                                        New Password (IMPORTANT)
                                    </label>
                                    <input type="password" id="new_password" name="new_password"
                                        placeholder="Numbers and Alphabets only">
                                </div>
                                <button type="submit" class="button1">Reset</button>
                            </form>
                        </div>
                </div>
            </div>

        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>