<%- include("../../fragments/head.ejs") %>


    <div class="pricing page-section">
        <h2 class="page-section__title">
            Plans
        </h2>
        <div class="page-section__content horizontal-split">
            <div class="horizontal-split__left">
                <%- include("../../components/side-menu-admin.ejs") %>
            </div>
            <div class="horizontal-split__right">
                <div class="profile-pages">
                    <div id="plans-page" class="profile-page">
                        <div class="keys-container">
                            <% for(plan of plans){ %>
                                <div class="item-card">
                                    <div class="item-card__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                            class="bi bi-list-check" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                        </svg>
                                    </div>
                                    <div class="item-card__title">
                                        <h2>
                                            <%= plan.title %>
                                        </h2>
                                    </div>
                                    <div class="item-card__action-button">
                                        <a href="/admin/plans/<%= plan.id %>">Edit</a>
                                    </div>
                                </div>
                                <% } %>
                                    <a href="/admin/plans/new" class="item-card">
                                        <div class="item-card__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                            </svg>
                                        </div>
                                    </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <%- include("../../fragments/end.ejs") %>